/* COLOR PALETTE TO BE USED

    Primary Color:      navigation      - #002040

    Secondary Color 1:  section 1       - #00CCFF
    Secondary Color 2:  section 2       - #AEEEF5
    Secondary Color 3:  section 3       - #D9EBFF

    Accent Color:       Highlight tool  - #FFA100
*/



/* FONTS USED HERE */

/*@font-face {
    font-family: "palanquin";
    src:    url("/css/fonts/palanquin/palanquin-regular.tff")
            format('truetype');
}

@font-face {
    font-family: "palanquin";
    src:    url("/css/fonts/palanquin/palanquin-bold.tff")
            format('truetype');
    font-weight: bold;
} */



/**** NAVBAR Styles ****/

/* Default navbar color override */

.navbar, .dropdown-menu {
    background-color: rgba(0, 32, 64, 0);
}

.nav.navbar-nav li a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-inverse .navbar-nav>.active>a {
    color: rgba(0, 32, 64, 1);
    background-color:white;
}


.navbar-inverse .navbar-brand, .nav.navbar-nav li a, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a, a {
    color:white;
}

/* NAV BAR STYLES END */



.jumbotron {
/*    background-color: #0E0B16;*/
    background-image: url(../Photos/city-street-background.jpg);
    background-size: cover;
    height: 80vh;
    margin: 0px;
    padding: 0px;
}


#main h1 {
    text-align: center;
    color: white;
}

#section4-contactUs h1, h2, h3, p {
    color: white;
}


.img-responsive {
    width: 100%;
    height: auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}


.logo{
    padding: 0;
    margin: 0;
}


.checked {
    color: orange;
}


#contact-us #panel-left h1 {
    text-align: left;
    font-size:  30px; 
}

#contact-us h2 {
    text-align: left;
    font-size:  25px;
}

h1, h2, h3, h4 {
    font-family: sans-serif;
}
.description{
/*    padding-left: 10px;*/
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item-container{
    padding: 5px;
    
/*    box-shadow: 5px 10px #B2B2B2;*/
    
}

#name{
    text-align: center;
    font-size: 18px;
}

#price{
    text-align: center;
}

/*

div.row.popular{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: antiquewhite;
}
*/

#panel-right p{
    font-size: 14px;
}

#panel-right h3{
    font-size: 20px;
}



#panel-left h2 {
    font-size: 20px;
}

/* Section used for Modifying sections */

#section1-shirts {
    background-color: #00CCFF;
    padding: 10vh 8vh;
}

#section2-reviews {
    background-color: #AEEEF5;
    padding: 12vh 8vh;
}

#section3-buildYourOwnShirt {
    background-color: #D9EBFF;
    padding: 12vh 8vh;
    margin: inherit;
}

#section4-contactUs {
    background-color: #002040;
    padding: 8vh
}


#c{
    background-image: url(../Photos/shirts/blue.png);
    background-size: cover;
}

.pallete{
    width:30px;
    height:30px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin: 5px;
}

textarea.form-control#txtArea {
    height: 50px;
    width: 200px;
}
row.colours{
    padding-top: 15px;
}


button#addtxt {
    margin: 5px;
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #002040;
  border: none;
  border-radius: 10px;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

  
}

button#addtxt:hover {background-color: #13467a}

button#addtxt:active {
  background-color: #3e8e41;

}

button#use{
    margin: 5px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background-color: #00CCFF;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

}
button#use:hover{background-color: #59deff }


.semi-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

}

.help{
    padding: 0;
    background: transparent;
    border: none;
}

p.instruction{
    color: black;
    font-size: 16px;
    font-family:sans-serif;
}

.modal-header {
    background-color: cadetblue;
    color: white;
}



.closeButton {
    background-color: #5f9ea0;
    color: white;
    
}
.closeButton:hover{
    background-color: #7BCCCF;
    color:white;
}

#del {
    background-color: orange;
    color: black;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

}

#clr {
    
    background-color: orangered;
    color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

}

.row.options{
    padding-left: 28%;
}


.add2cart {
    background-color:cadetblue;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    margin: 10px;
    padding: 10px;
}

/* Navbar JQuery scoll CSS */
/*
.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}
*/

