/* COLOR PALETTE USED

    Background 1: Dark Purple   - #242582
    Background 2:               - #553D67
                                - #F64C72

    Text:         Light Grey    - #99738E
    Eye Catcher:  Blue          - #2F2FA2

*/

/* Decided to NOT add custom fonts atm */

/*@font-face {
    font-family: "palanquin";
    src:    url("/css/fonts/palanquin/palanquin-regular.tff")
            format('truetype');
}

@font-face {
    font-family: "palanquin";
    src:    url("/css/fonts/palanquin/palanquin-bold.tff")
            format('truetype');
    font-weight: bold;
} */

/**** NAVBAR Styles ****/

/* Default navbar color override */

.navbar, .dropdown-menu {
    background-color:#002040;
}

.nav.navbar-nav li a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    color:#002040;
    background-color:white;
}


.navbar-inverse .navbar-brand, .nav.navbar-nav li a, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a, a {
    color:white;
}

/* NAV BAR STYLES END */

.jumbotron {
/*    background-color: #0E0B16;*/
    background-image: url(../Photos/city-street-background.jpg);
    background-size: cover;
    height: 80vh;
    margin: 0px;
    padding: 0px;
}


h1 {
    text-align: center;
}

#section4-getInTouch h1, h2, h3, p {
    color: white;
}

#main{
    display: none;
}


.img-responsive {
    width: 90%;
    height: auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}


.logo{
    padding: 0;
    margin: 0;
}


.checked {
    color: orange;
}


#contact-us #panel-left h1 {
    text-align: left;
    font-size:  30px; 
}

#contact-us h2 {
    text-align: left;
    font-size:  25px;
}

h1, h2, h3, h4 {
    font-family: sans-serif;
}
.description{
/*    padding-left: 10px;*/
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item-container{
    padding: 5px;
    
/*    box-shadow: 5px 10px #B2B2B2;*/
    
}

#name{
    text-align: center;
    font-size: 18px;
}

#price{
    text-align: center;
}

/*

div.row.popular{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: antiquewhite;
}
*/

#panel-right p{
    font-size: 14px;
}

#panel-right h3{
    font-size: 20px;
}



#panel-left h2 {
    font-size: 20px;
}
/* color saved: #EDE1CD */
/*
.popular{
    background-color: antiquewhite;  
}*/

#coolShirtsRow {
    margin-top: 100px;
    
}

#section1-shirts {
    background-color: #00CCFF; /* Color 2 */
    padding-top: 5vh;
    padding-bottom: 10vh;
}

#section2-reviews {
    background-color: #AEEEF5;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

#section3-buildYourOwnShirt {
    background-color: #D9EBFF;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

#section4-getInTouch {
    background-color: #002040;
    padding-top: 15vh;
}
